<!DOCTYPE html>
<html>
  <head>
    <%= favicon_link_tag asset_path('favicon.jpg'), :rel => 'icon', :type =>  'image/jpg' %>
    <title>Blogger</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
    <hr>
    <h6>
      <% if logged_in? %>
        <%= "logged in as #{current_user.username}" %>
        <%= link_to "(logout)", logout_path %>
      <% else %>
        Logged out
        <%= link_to "(login)", login_path %>
      <% end %>
    </h6>
    <p class="flash"><%= flash.notice %></p>
  </body>
</html>
